@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@font-face {
  font-family: "Silkscreen";
  src: url("/fonts/Silkscreen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-pixel: "Silkscreen", sans-serif;
  --font-jetbrains: "JetBrains Mono", sans-serif;
}

@layer base {
  h1 {
    @apply text-3xl;
  }

  p {
    @apply font-pixel text-yellow-300;
  }

  button {
    @apply cursor-pointer;
  }

  .link {
    @apply cursor-pointer m-3 p-3 border-2 border-blue-300;
  }
}
