@import "tailwindcss";
@import "@xyflow/react/dist/style.css";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@font-face {
  font-family: "Pixellari";
  src: url("/fonts/Pixellari.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-pixel: "Pixellari", sans-serif;
  --font-jetbrains: "JetBrains Mono", sans-serif;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: oklch(90.5% 0.182 98.111);
    caret-color: oklch(90.5% 0.182 98.111);
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 9999s ease-in-out 0s;
  }

  h1 {
    @apply font-pixel text-3xl text-yellow-300 font-medium;
  }

  h2 {
    @apply font-pixel text-2xl text-yellow-300;
  }

  p {
    @apply font-pixel text-yellow-300;
  }

  button {
    @apply cursor-pointer;
  }
}
